h1{
    text-align: center;
}
.profile-img{
    border-radius: 5px;
    width: 100%;
}
.first{
    margin-top: 20px;
}
.title {
    font-size: 25px;
    font-weight: bold;
}
.data-user{
    font-weight: 400;
    font-size: 25px;
}
footer{
    text-align: center;
}
