:root{
    --font-color:red;
}
*{
    color: white;
}

.all-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar{
    background-image: url('../../images/homepage.jpg');
    height: 80vh;
    @extend .all-image;
}