@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Pacifico&family=Roboto&family=Rubik&display=swap");
:root {
  --font-color:red;
  --main-title: "Rubik", sans-serif;
  --normal-ftext: "Roboto", sans-serif;
  --title-size: 80px;
  --normal-text: 20px;
  --hover-normal-text: 22px;
  --link-text: white;
  --text-white: white;
  --link-hover-time: 0.5s;
  --normal-title: 30px;
  --font-black: black;
}

.all-image, .nav-bar, .nav-repo, .nav-profile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar, .nav-repo, .nav-profile {
  background-image: linear-gradient(to bottom, rgba(66, 66, 66, 0.52), rgba(27, 27, 27, 0.73)), url("../../images/homepage.jpg");
  height: 100%;
  text-align: center;
  padding: 150px 0;
  font-family: var(--main-title);
  font-size: var(--title-size);
  color: var(--text-white);
}

.normal-text {
  font-size: var(--normal-text);
  margin-bottom: 15px;
}

.site-link {
  font-size: var(--normal-text);
  text-decoration: none;
  color: var(--link-text);
  transition: var(--link-hover-time);
}

.site-link:hover {
  font-size: var(--hover-normal-text);
}

.main-footer {
  background-color: rgb(37, 37, 37);
  padding: 50px 0;
  color: var(--text-white);
}

.footer-title, .main-title {
  font-size: var(--normal-title);
  margin-bottom: 20px;
  color: var(--text-white);
}

.main-content {
  color: var(--font-black);
  font-family: var(--normal-ftext);
  margin: 50px 0;
}

.main-title {
  color: var(--font-black);
  margin-bottom: 20px;
}

.main-body {
  font-family: var(--normal-ftext);
}

.developer-img {
  width: 40%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.back-btn {
  font-size: var(--normal-text);
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  color: var(--text-white);
  transition: var(--link-hover-time);
}

.back-btn:hover {
  background-color: white;
  color: var(--font-black);
}

.main-result {
  padding: 20px 50px;
  background: linear-gradient(to bottom, #ececec 0%, #dddddd 100%);
}

.user-img {
  border-radius: 5px;
  width: 100%;
}

.result-content {
  margin: 60px 20px;
}

.follower-img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 10px;
}